.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 49, 33, 0.8); /* نفس لون الأخضر الداكن لكن بشفافية */
  backdrop-filter: blur(6px);  padding: 20px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #ddd;
}

.navbar button {
  margin-top: 0;
  margin-left: 15px;
}