
.page-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 350px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.49);
  border-radius: 12px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.auth-container h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;
}

.auth-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000;
}

.auth-container button {
  padding: 10px;
  background-color: #292a29;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.auth-container button:hover {
  background-color: #333;
}
